@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: url("../assets/background.png");
    background-repeat: repeat;
    background-size: contain;
    color: #f2f2f2;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 1.4rem;
}

.card>h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
}

.room {
    display: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-input {
    border: none;
    padding: .9rem;
    font-size: .85rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: .4rem;
}

.login-input:focus {
    outline: 1px solid #f2f2f2;
}

.login-btn {
    border: none;
    padding: 1rem;
    border-radius: .3rem;
    font-size: .85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login-btn:hover {
    background-color: #fff;
}

/* 
    CHAT
*/

.chat {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.messages {
    /* background-color: #777; */
    flex-grow: 1;
    padding: 2rem 2rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-form {
    background-color: #191919;
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: .6rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat-input {
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat-btn {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat-btn>span {
    font-size: 1.8rem;
}

.messages>div {
    padding: .8rem;
    width: 100%;
    max-width: 250px;
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: .9rem;
    line-height: 1.4rem;

}

.message-self {
    background-color: #f2f2f2;
    color: #121212;
    border-radius: .6rem .6rem 0 .6rem;
    align-self: flex-end;
}

.message-friend {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0 .6rem .6rem .6rem;
    align-self: flex-start;
}

.message-sender{
    display: block;
    font-weight: 700;
    font-size: .8rem;
    color: brown;
}